body{
    font-family: 나눔고딕,NanumGothic,돋움,Dotum,'Malgun Gothic','Lucida Grande',sans-serif;
    margin: 0;
    padding: 0;
    color: hsl(214, 21%, 15%);
    
}

h1{
    margin-bottom: 40px;
    font-size: 50px;
    letter-spacing: -1px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 50px;
}
div.wholeWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.form{
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 600px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid white;
    color: hsl(214, 21%, 15%);
}
table{
    width: 100%;
}

input{
    font-size: 16px;
    width: 100%;
    border: 0;
    padding-left: 10px;
    border-bottom: 1px solid #b0b9c4;
}

#result{
    width: 400px;
    border: 1px solid #eeeeee;
    font-size: 16px;   
    margin-top: 40px; 
}

#confirm{
    width: 100%;
    height: 40px;
    margin-top: 24px;
    border: 1px solid #687079;
    border-radius: 20px;
    font-size: 16px;
    color: hsl(214, 21%, 15%);
}


#resultImage{
    display: block;
    margin-top: 40px;
    width: 360px;
    padding: 24px;
}

